<!DOCTYPE html>

<!-- Poll edit page by /u/mark-henry-->
<!-- Displays details of a single poll -->

<html>
<head>
  <title>Edit {{ poll.title }}</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css" media="screen">
    table, th, td {
      border: 1px solid #bbb;
    }  
    td {
      padding: 5px;
    }
    input[type="text"] {
      margin: 10px 0px;
    }
    body {
      margin-left: 10px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    $("#quickadd").oninput(function() {alert("ey")})
  </script>
</head>
<body>
  <a href="/admin?view=polls">&lt;&lt;Back to polls list</a>
  <h2>Poll {{ poll.title }}</h2>
  <div><a href="vote?poll={{ poll.key.urlsafe() }}">View live voting page for this poll >></a></div>
  <div>
    <form method="post" action="">
      Title:
      <input type="hidden" name="poll" value="{{ poll.key.urlsafe() }}">
      <input type="text" name="title" value="{{ poll.title }}">
      <input type="submit" value="Update Title">
    </form>
  </div>
  <form method="post" action="">
    <input type="hidden" name="poll" value="{{ poll.key.urlsafe() }}">
    <p>Voting for this poll is currently
      {% if poll.voting_enabled %}
        <input type="hidden" name="voting" value="disable">
        <b>Enabled</b>. <input type="submit" value="Disable">
      {% else %}
        <input type="hidden" name="voting" value="enable">
        <b>Disabled</b>. <input type="submit" value="Enable">
      {% endif %}
    </p>
  </form>
  <form method="post" action="">
    <input type="hidden" name="poll" value="{{ poll.key.urlsafe() }}">
    <span>
      <textarea id="quickadd" style="width:500px" type="text" name="quickadd" placeholder="Quick Add"></textarea>
      <input style="vertical-align:top" type="submit" value="Create New Entry">
    </span>
  </form>
  <form method="post" action="">
    <input type="hidden" name="poll" value="{{ poll.key.urlsafe() }}">
    <input type="text" name="author" placeholder="Author Name">
    <input type="text" name="url" placeholder="Soundcloud URL">
    <input type="submit" value="Create New Entry">
  </form>
  <p>{{ entries|count }} entries:</p>
  <table border="1">
    <tr><td>Author</td><td>URL</td></tr>
    {% for entry in entries %}
      <tr>
        <td>{{ entry.author }}</td>
        <td>{{ entry.url }}</td>
        <td>
          <form action="" method="post">
            <input type="hidden" name="delete" value="{{ entry.key.urlsafe() }}">
            <input type="hidden" name="poll" value="{{ poll.key.urlsafe() }}">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table><br>

  <p>Results:</p>
  <code>
    <pre>{{ results }}</pre>
  </code></br>

  <p>{{ ballots|count }} ballots cast</p>
  <table border="1">
    <tr><td></td><td>Voter ID</td><td>Ballot</td>
    {% for ballot in ballots %}
      <tr>
        <td>
          <form action="" method="post">
            <input type="hidden" name="delete" value="{{ ballot.key.urlsafe() }}">
            <input type="hidden" name="poll" value="{{ poll.key.urlsafe() }}">
            <input type="submit" value="Delete">
          </form>
        </td>
        <td>{{ ballot.voterid }}</td>
        <td>{{ ballot.votes }}</td>
      </tr>
    {% endfor %}
  </table>

  <div>
    <form method="post" action="/admin" onsubmit="return confirm('Are you sure you want to delete poll {{ poll.title }}? This action cannot be undone.')">
      <br><br><br>Delete this poll
      <input type="hidden" name="delete" value="{{ poll.key.urlsafe() }}">
      <input type="submit" value="Delete" class="btn-danger">
    </form>
  </div>
</body>
</html>